{#
/**
 * @file assignation.html.twig
 * Default theme implementation to present Assignation data.
 *
 * This template is used when viewing Assignation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assignation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('assignation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
